# Desabilita listagem de diretórios
Options -Indexes

# Redireciona para a pasta public
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/painel\.pixel12digital/public/
RewriteRule ^(.*)$ public/$1 [L]





